<header>
    <nav class="main-navigation">
        <!-- Logo (Home) links -->
        <ul class="logo">
            <img src="/assets/Bieb-in-Bloei-logo-1.svg" alt="logo of milledoni" width="70" height="70"> 
        </ul>
        
        <!-- Navigatie rechts -->
        <ul class="nav">
            <li><a href="#">Projecten</a>
                <ul class="submenu">
                    <li><a href="#">Stekjes</a></li>
                    <li><a href="#">Zaden</a></li>
                    <li><a href="#">Geveltuin</a></li>
                    <li><a href="#">Groenebieb</a></li>
                </ul>
            </li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Over</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>