* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    background-color: #c49b9b;
}

.logo{
    /* background-color: black; */
}

.nav {
    display: flex;
    justify-content: flex-end; /* Zet alles naar rechts */
    gap: 1rem; /* Optioneel: ruimte tussen de links */
  }
  
  .nav a {
    text-decoration: none;
    color: #000; /* Kies je eigen kleur */
  }

  .hero {
    background: url('images/hero.jpg') no-repeat center/cover;
    text-align: center;
    color: white;
    padding: 100px 20px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
  }
  